<div class="img-container" style="background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('<%=@image%>');">
  <h2 class="show-circle-title"><%=@name%></h2>
</div>

<div class="details-container">

  <div class="container">
    <p class="hidden" id="circle_id"><%=@id%></p>

    <div class="circle-item-container">
      <h5 class="circle-item-title">活動場所</h5>
      <p class="circle-item-content"><%=@location%></p>
    </div>
    <div class="circle-item-container">
      <h5 class="circle-item-title">メンバー</h5>
      <p class="circle-item-content"><%=@member%>人</p>
    </div>
    <div class="circle-item-container">
      <h5 class="circle-item-title">リンク</h5>
      <%unless @links[0].empty?%>
        <a class='sns-icon' target="_blank" href='<%=@links[0]%>'><i class="fa fa-2x fa-home"></i></a>
      <%end%>
      <%unless @links[1].empty?%>
        <a class='sns-icon' target="_blank" href='<%=@links[1]%>'><i class="fa fa-2x fa-twitter"></i></a>
      <%end%>
      <%unless @links[2].empty?%>
        <a class='sns-icon' target="_blank" href='<%=@links[2]%>'><i class="fa fa-2x fa-facebook"></i></a>
      <%end%>
    </div>
    <div class="circle-item-container">
      <h5 class="circle-item-title">会費　　</h5>
      <%if @fee%>
        <p class="circle-item-content"><%=@fee%></p>
      <%else%>
        <p class="circle-item-content">-</p>
      <%end%>
    </div>

    <h5 class="circle-item-title" style="margin-top:20px">活動日程</h5>
    
    <div class="table-wrapper">
      <table class="day-table">
        <thead>
          <tr>
            <th scope="col" class="day-col">月</th>
            <th scope="col" class="day-col">火</th>
            <th scope="col" class="day-col">水</th>
            <th scope="col" class="day-col">木</th>
            <th scope="col" class="day-col">金</th>
            <th scope="col" class="day-col sat">土</th>
            <th scope="col" class="day-col sun">日</th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <%for num in 0..6 do%>
            <td class="time-col">
              <%if @days.include?(num)%>
                <h3 class="active col">○</h3>
              <%else%>
                <h5 class="disactive col"> - </h5>
              <%end%>
            </td>
          <%end%>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="container">
    <h5 class="circle-catch-copy"><%=@title%></h5>
    <p class="circle-catch-copy-desc"><%=@desc%></p>
  </div>

  <div class="mobile-margin"></div>
  <a class="like-btn" id="like"><i class="fa fa-heart"></i></a>
</div>


