<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">サークルみっけ！</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">詳細検索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="user">ライク一覧</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            サークル検索
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                      <a class="nav-link active" href="#">活動場所で検索</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?location=0">豊中キャンパス</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?location=1">吹田キャンパス</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?location=2">箕面キャンパス</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?location=3">その他</a>
                      </li>
                  </ul>
                </div>
                <!-- /.col-md-4  -->
                <div class="col-md-4">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">曜日で検索</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=0">月</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=1">火</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=2">水</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=3">木</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=4">金</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/?days=5">土</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search/days=6">日</a>
                  </li>
                </ul>
                </div>
                <!-- /.col-md-4  -->
                  <div class="col-md-4">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                      <a class="nav-link active" href="#">ジャンルで検索</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?genre[]=運動系">運動系</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/search/?genre[]=文化系">文化系</a>
                      </li>
                  </ul>
                  </div>
                <!-- /.col-md-4  -->
              </div>
            </div>
            <!--  /.container  -->
          </div>
        </li>
      </ul>
    </div>
  </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
