<!DOCTYPE html>
<html>
  <head>
    <title>サークルミッケ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="nav-container">
          <a href="/" class="app-title">サークルミッケ</a>
          <!-- mobile版のナビゲーション制御に必要なラベル群（PCb版では非表示） -->
          <div id="blackout"></div>
          <label id="nav-open" for="nav-input"><i class="fa fa-bars icon"></i></label>
          <ul class="gnav">
              <div class="mobile-menu-title-container">
                  <h3 class="menu-title">Menu</h3>
                  <p class="menu-desc">メニュー</p>
              </div>
              <li class="nav-item" id="search">
                  <p class="nav-link">サークルを探す</a>
                  <div class="menu">
                          <div class="menu-container">
                              <div class="menu-title-container">
                                  <h3 class="menu-title">Search</h3>
                                  <p class="menu-desc">サークルを探す</p>
                              </div>
                              <div class="menu-index-container">
                                  <p class="menu-index-title">場所で探す</p>
                                  <ul class="menu-index-nav">
                                      <li class="menu-index-nav-item">
                                          <a href="/search?location=1" class="menu-index-nav-link">豊中キャンパス</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="/search?location=2" class="menu-index-nav-link">吹田キャンパス</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="/search?location=3" class="menu-index-nav-link">箕面キャンパス</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="/search?location=4" class="menu-index-nav-link">その他</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="menu-index-container ">
                                  <p class="menu-index-title">曜日で探す</p>
                                  <ul class="menu-index-nav day-container">
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=0" class="day">月</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=1" class="day">火</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=2" class="day">水</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=3" class="day">木</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=4" class="day">金</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=5" class="day">土</a>
                                      </li>
                                      <li class="menu-index-nav-item day-item">
                                          <a href="/search?days=6" class="day">日</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="menu-index-container">
                                  <p class="menu-index-title">ジャンルで探す</p>
                                  <ul class="menu-index-nav">
                                      <li class="menu-index-nav-item">
                                          <a href="" class="menu-index-nav-link">文化系</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="" class="menu-index-nav-link">運動系</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="" class="menu-index-nav-link">テニス</a>
                                      </li>
                                      <li class="menu-index-nav-item">
                                          <a href="" class="menu-index-nav-link">その他</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="/search">サークル一覧</a></li>
              <li class="nav-item"><a class="nav-link" id="user">ライク一覧</a></li>
          </ul>
      </div>
    </header> 

    <main class="main">
      <%= yield %>
    </main>

    <!-- nav-main-wrapper -->

    <footer class="footer">
      <p>&copy; 2018 CFH All Rights Reserved.</p>
    </footer>

  </body>
</html>
